/* NOTE Main Common style affecting the whole document. */
.main {
  min-height: 100vh;
  height: 100vh;
}

/* NOTE FISRT-landing section */
#sidedar-menu {
  height: 100%;
}

.miVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.8;
}

.video-grandient-class {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 999;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(21, 21, 21)
  );
}

.video-container {
  /* margin: 0.3em; */
  min-height: 100%;
  position: relative;
}

.video-inside-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.icons-style {
  min-height: 1em;
  height: 1em;
}

/* section-2 & section-4 exceptional-women  */

.exceptional-women {
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
  padding: 80px 0px;
}
#women1 {
  background-image: url(../Media/images/section-backgrounds/section-2\ bg.jpg);
}
#women2 {
  background-image: url(../Media/images/section-backgrounds/section-4\ bg.jpg);
}

.womens {
  background-color: white;
  padding: 40px;
  max-width: 360px;
  height: 460px;
  border-radius: 20px;
}
.women-history {
  margin: 0 auto;
}
.women-profile-pic {
  background-color: gray;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 10px auto;
}
.women-name {
  font-family: 'arial';
  font-size: 15px;
}
.women-desp {
  font-family: 'gerogia';
  font-size: 18px;
}
.c-indicator > li {
  background-color: var(--blue);
}

/* section-3 where we are */
.where-are-we {
  background-image: url(../Media/images/section-backgrounds/section-3\ bg.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.red-nav:hover {
  color: #cc0000 !important;
}

.bg-navbar-grandient {
  background-image: linear-gradient(0deg, #15151583, #ffffff00);
}

/* NOTE LET-US-KNOW SECTION */
.let-us-know {
  height: 15em;
  background-image: linear-gradient(0deg, #07070fce, #07070fce),
    url('../Media/images/section-backgrounds/section-let-us-know.jpg');
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .brand-margin {
    margin-top: 1.5em;
  }
  .video-inside-container {
    padding: 0 !important;
  }
  #video-section {
    min-height: 100%;
  }
  .let-us-know {
    height: 15em;
  }
}
