/* NOTE Main Common style affecting the whole document. */
.main {
  min-height: 100vh;
  height: 100vh;
}

/* NOTE FISRT-landing section */
#sidedar-menu {
  height: 100%;
}

.miVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.8;
}

.video-grandient-class {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 999;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(21, 21, 21)
  );
}

.video-container {
  /* margin: 0.3em; */
  min-height: 100%;
  position: relative;
}

.video-inside-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.icons-style {
  min-height: 1em;
  height: 1em;
}

.blue-nav:hover {
  color: #2699fb !important;
}

.bg-navbar-grandient {
  background-image: linear-gradient(0deg, #151515, #ffffff00);
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .brand-margin {
    margin-top: 1.5em;
  }
  .video-inside-container {
    padding: 0 !important;
  }
  #video-section {
    min-height: 100%;
  }
}
